.footer_stat {
    background-color: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 1px solid #CCCCCC
}


.footer_dym {
    background-color: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 1px solid #CCCCCC
}

.footer_dym7 {
    background-color: white;
    height: 60px;
    width: 100%;
    bottom: -100px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 1px solid #CCCCCC
}