/* Definition general class Places*/
.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390;
    padding: 20x;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

/* heading styles */
.places h1 {
    margin-left: 20px;
    margin-top: 60px;
    font-size: 30px;
    width: 100%;
}

.places h2 {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 15px;
    padding-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    text-align: center; 
}